<main class="container">
  <form class="form">
      <h1>Вход</h1>
      <div>
          {{{
          InputField
                  name="login"
                  label="Логин"
                  id="login"
                  type="text"
                  env="registration"
                  ref="login"
                  validate=validate.login
          }}}

          {{{
          InputField
                  name="password"
                  label="Пароль"
                  type="password"
                  env="registration"
                  ref="password"
                  validate=validate.password
          }}}
      </div>

      <div class="button-block">
          <div class="error-text">
              {{{ ErrorText error=error }}}
          </div>

          {{{
          Button
                  text="Авторизоваться"
                  type="primary"
                  onClick=handleLogin
          }}}

          {{{
          Button
                  text="Регистрация"
                  type="link"
                  onClick=handleRegister
          }}}
      </div>
  </form>
</main>

