<!--Правая сторона-->
<main class="chat">
    <div class="chat-header">
        {{{
        DialogAddUsers
                onClose=onClose
                addUserToChat=addUserToChat
                ref="dialogAddUsers"
                onInput=findUsers
        }}}

        {{{
        DialogDeleteUsers
                onClose=onClose
                deleteUsersFromChat=deleteUsersFromChat
                ref="dialogDeleteUsers"
        }}}

        <div>
            {{#if isOpenDialogChatOptions}}
                {{{ ChatOptions handleAddMember=handleAddMember handleDeleteMember=handleDeleteMember }}}
            {{/if}}
        </div>

{{#if companion}}
        <div class="chat-header__user-info">
            <img
                    src={{ companion.avatar }}
                    alt="User Avatar"
                    width="34px"
                    height="34px"
            >
            <p class="chat-header__user-name">{{ companion.displayName }}</p>
        </div>
<!--        <div class="chat-header__details">-->
<!--        </div>-->
        {{else}}
        <h2 class="chat-header__title">{{ activeChat.title }}</h2>
        {{/if}}

        {{{ Dots onClick=handleChatOptionsToggle }}}
    </div>

    <!--    Сама переписка-->
        <div class="chat-content">
            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>

            <div class="chat-content__my-message">
                <p>
                    Круто!
                </p>
                <div class="chat-content__read-message">
                    {{> ReadMessage}}
                    <time datetime="11:56">11:56</time>
                </div>
            </div>

            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>

            <div class="chat-content__my-message">
                <p>
                    Круто!
                </p>
                <div class="chat-content__read-message">
                    {{> ReadMessage}}
                    <time datetime="11:56">11:56</time>
                </div>
            </div>

            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>

            <div class="chat-content__my-message">
                <p>
                    Круто!
                </p>
                <div class="chat-content__read-message">
                    {{> ReadMessage}}
                    <time datetime="11:56">11:56</time>
                </div>
            </div>

            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>
            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>
            <div class="chat-content__income-message">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                    моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
                    как
                    астронавты с собой забрали только кассеты с пленкой.</p>
                <time datetime="11:56">11:56</time>
            </div>

        </div>

    <!--    Футер переписки-->
    <div class="chat-bottom">
        {{> AttachIcon }}
<!--        //тут был инпут чат-->
        {{{
        InputField
                type="text"
                name="message"
                onBlur=onBlur
                ref="message"
                env="chat"
                placeholder="Message"
                validate=validate.message
        }}}
        {{> SendIcon}}
    </div>
</main>
