<main class="profile">
   {{{ Back onClick=handleBackClick }}}
    <form class="profile__content">
        <div>
            {{{ Avatar }}}
        </div>
        <div class="profile__content-input">
            {{{
            InputField
                    name="email"
                    label="Email"
                    type="email"
                    env="profile"
                    placeholder="test@yandex.ru"
                    ref="email"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="login"
                    label="Login"
                    type="text"
                    env="profile"
                    placeholder="ivanivanov"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="first_name"
                    label="First Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="second_name"
                    label="Second Name"
                    type="text"
                    env="profile"
                    placeholder="Ivanov"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="display_name"
                    label="Display Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="phone"
                    label="Phone Number"
                    type="text"
                    env="profile"
                    placeholder="+7(909)9673030"
                    disabled="true"
            }}}
        </div>
        <div class="profile__content-button">
<!--            <button class="profile__content-button__main">-->
<!--                Изменить данные-->
<!--            </button>-->
            {{{
            Button
                    text="Изменить данные"
                    env="profile"
                    onClick=handleChangeProfile
            }}}
<!--            <button class="profile__content-button__main">-->
<!--                Изменить пароль-->
<!--            </button>-->

            {{{
            Button
                    text="Изменить пароль"
                    env="profile"
                    onClick=handleChangePassword
            }}}
<!--            <button class="profile__content-button__delete">-->
<!--                Выйти-->
<!--            </button>-->
            {{{
            Button
                    text="Выйти"
                    env="profile"
                    danger="true"
                    onClick=handleLogout
            }}}
        </div>
    </form>
</main>
