<main class="profile">
   {{{ Back onClick=handleBackClick }}}
    <form class="profile__content">
        <div>
            {{{ Avatar img= user.avatar }}}
        </div>
        <div class="profile__content-input">
            {{{
            InputField
                    name="email"
                    label="Email"
                    type="email"
                    env="profile"
                    placeholder=user.email
                    ref="email"
                    disabled="true"
            }}}

            {{{
            InputField
                    name="login"
                    label="Login"
                    type="text"
                    env="profile"
                    placeholder=user.login
                    disabled="true"
            }}}

            {{{
            InputField
                    name="first_name"
                    label="First Name"
                    type="text"
                    env="profile"
                    placeholder=user.firstName
                    disabled="true"
            }}}

            {{{
            InputField
                    name="second_name"
                    label="Second Name"
                    type="text"
                    env="profile"
                    placeholder=user.secondName
                    disabled="true"
            }}}

            {{{
            InputField
                    name="display_name"
                    label="Display Name"
                    type="text"
                    env="profile"
                    placeholder=user.displayName
                    disabled="true"
            }}}

            {{{
            InputField
                    name="phone"
                    label="Phone Number"
                    type="text"
                    env="profile"
                    placeholder=user.phone
                    disabled="true"
            }}}
        </div>
        <div class="profile__content-button">
            {{{
            Button
                    text="Изменить данные"
                    env="profile"
                    onClick=handleChangeProfile
            }}}

            {{{
            Button
                    text="Изменить пароль"
                    env="profile"
                    onClick=handleChangePassword
            }}}

            {{{
            Button
                    text="Выйти"
                    env="profile"
                    danger="true"
                    onClick=handleLogout
            }}}
        </div>
    </form>
</main>
