<main class="profile">
    <a class="profile__back" href="#">
        <div class="profile__back-icon">
            {{> BackArrow }}
        </div>
    </a>
    <form class="profile__content">
        <div>
            {{{ Avatar }}}
        </div>
        <div class="profile__content-input">
            {{{
                InputField
                    name="oldPassword"
                    label="Старый пароль"
                    type="password"
                    env="profile"
                    ref="oldPassword"
                    placeholder="Старый пароль"
                    validate=validate.oldPassword
            }}}

            {{{
                InputField
                    name="newPassword"
                    label="Новый пароль"
                    type="password"
                    env="profile"
                    placeholder="Новый пароль"
                    ref="newPassword"
                    validate=validate.newPassword
            }}}

            {{{
                InputField
                    name="repeatNewPassword"
                    label="Повторите новый пароль"
                    type="password"
                    env="profile"
                    placeholder="Повторите пароль"
                    ref="repeatNewPassword"
                    validate=validate.repeatNewPassword
            }}}
        </div>
        <div class="profile__content-button">
            {{{
                Button
                    text="Сохранить"
                    type="primary"
                    onClick=handleSaveChangesClick
            }}}
        </div>
    </form>
</main>
