<main class="container">
    <form class="form">
        <h1>Регистрация</h1>
        {{{
        InputField
                name="email"
                label="Почта"
                type="email"
                env="registration"
                ref="email"
                validate=validate.email
        }}}

        {{{
        InputField
                name="login"
                label="Логин"
                type="text"
                env="registration"
                ref="login"
                validate=validate.login
        }}}

        {{{
        InputField
                name="first_name"
                label="Имя"
                type="text"
                env="registration"
                ref="first_name"
                validate=validate.first_name
        }}}

        {{{
        InputField
                name="second_name"
                label="Фамилия"
                type="text"
                env="registration"
                ref="second_name"
                validate=validate.second_name
        }}}

        {{{
        InputField
                name="phone"
                label="Телефон"
                type="text"
                env="registration"
                ref="phone"
                validate=validate.phone
        }}}

        {{{
        InputField
                name="password"
                label="Пароль"
                type="password"
                env="registration"
                ref="password"
                validate=validate.password
        }}}

        {{{
        InputField
                name="repeat_password"
                label="Пароль(еще раз)"
                type="password"
                env="registration"
                ref="repeat_password"
                validate=validate.repeat_password
        }}}

        {{{
        Button
                text="Зарегистрироваться"
                type="primary"
                onClick=handleRegister
        }}}

        {{{
        Button
                text="Войти"
                type="link"
                onClick=handleLogin
        }}}
        {{{ ErrorText error=error ref="errorText"}}}
    </form>
</main>

