<li class="
      list-item
    {{#if isActiveChat}} list-item__active {{/ if}}
">
    <div class="list-item__image">
        <img src={{userAvatar}}
             alt="Аватар"
             width="47px"
             height="47px">
    </div>

    {{#if lastMessage}}
        <div class="list-item__info">
            <div class="list-item__title">
                <h2>{{ title }}</h2>
            </div>
            <h3 class="list-item__name">{{ lastMessage.user.firstName }}</h3>
            <h4 class="list-item__message">{{ lastMessage.content }}</h4>
        </div>

        <div class="list-item__additional">
            <time
                    class="list-item__time"
                    datetime={{ lastMessageTime }}
            >
                {{ lastMessageTime }}
            </time>
            {{#if unreadCount}}
                <div class="list-item__unread">
                    <span>{{ unreadCount }}</span>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="list-item__title">
            <h2>{{ title }}</h2>
        </div>
    {{/if}}
</li>

