<!--страница чата общее-->
<main class="list-container">
    <!--    Левая сторона -->
    <div class="left">
        <div class="list-container__head">
            {{{ DialogCreateChat onSave=onSave onClose=closeDialog ref="createChat"}}}
            <div class="list-container__profile-block">
                {{{
                    Button
                        text="Перейти в Профиль"
                        type=link
                        onClick=handleProfileClick
                }}}
            </div>

            <div>
                {{{ Search }}}
            </div>
            <div class="list-container__button">
                {{{
                Button
                        primary="true"
                        text="Создать чат"
                        type="button"
                        onClick=openDialog
                }}}
            </div>
        </div>
        <!--Список чатов-->
        {{#if chats}}
            <nav>
                {{#ChatsList chats=chats}}{{/ChatsList}}
            </nav>
        {{else}}
            <h2 class="list-container__empty list-container__dummy">No chats</h2>
        {{/if}}
    </div>
    <!--Правая сторона-->
    {{#if activeChat}}
        {{{ Chat activeChat=activeChat }}}
    {{else}}
        <section class="list-container__main">
            <h1 class="list-container__dummy">Choose a chat to send a message</h1>
        </section>
    {{/if}}
</main>
